#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vid-stream{
  width: 40%;
  height: 60%;
  margin: 20px;
  
}
.btn  {
  margin: 10px; 
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(165, 215, 104);
  text-align: right;
}
.btn:hover  {
 background-color: rgb(116, 42, 219);
 margin-right : 0;
}

.startRecord {
  background-color: rgb(211, 211, 211);
}
.startRecord:hover {
  background-color: rgb(0, 0, 0);
}

.stopRecord {
  background-color: rgb(229, 135, 135);
}
.stopRecord:hover {
  background-color: rgb(242, 17, 17);
}

p {
  font-size: 24px;
  font-family: sans-serif;
  text-transform: capitalize;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
